<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mld.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>23BA69725530B663B1E20339BC7359D8D9E9CAC6</string>
				<key>dateExpires</key>
				<string>2020/4/29</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GVCC7N2J83.com.shumei.Demo</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GVCC7N2J83</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Mld.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e2303b8e-4f1d-4a06-9373-39d73b488888</string>
				<key>name</key>
				<string>Mid Ad Hoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GVCC7N2J83</string>
				<key>name</key>
				<string>Xiaojiang Liu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
